@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="contacto">
    <div class="text-center">
        <h1 class="display-4 mb-0">Contáctanos</h1>
        <p class="fs-4">Permítenos brindarte más información sobre cómo "TEKNOBITS" puede potenciar tus resultados.</p>
    </div>


    <form class="row g-3 mt-3" action="https://formsubmit.co/chivasz8549@gmail.com" method="POST">
        <p class="text-muted"> Los campos con <span style="color: red;">*</span> son obligatorios.</p>

        <div class="col-md-4">
            <label for="inputName" class="form-label">Nombre<span style="color: red;">*</span></label>
            <input type="text" name="Nombre" class="form-control" id="inputName" required>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label for="inputApellido" class="form-label">Apellido<span style="color: red;">*</span></label>
            <input type="text" name="Apellido" class="form-control" id="inputApellido">
        </div>
        <div class="col-md-4 col-lg-4">
            <label for="inputEmail" class="form-label">Email<span style="color: red;">*</span></label>
            <input type="email" name="Email" class="form-control" id="inputEmail">
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label for="inputTelefono" class="form-label">Telefono<span style="color: red;">*</span></label>
            <input type="tel" name="Telefono" class="form-control" id="inputTelefono">
        </div>
        <div class="col-md-4 col-lg-4">
            <label for="inputAsunto" class="form-label">Asunto<span style="color: red;">*</span></label>
            <input type="text" name="Asunto" class="form-control" id="inputAsunto">
        </div>
        <div class="col-md-2"></div>
        <div class="col-12 text-center mt-3">
            <button type="submit" class="btn btn-primary px-5">Enviar</button>
        </div>

    </form>


</div>

