@* Views/Shared/_HeroSection.cshtml *@
<div class="hero">
    <div class="overlay" data-aos="zoom-in" data-aos-duration="1200">
        <h1 class="fw-bold mb-3">Soluciones de Software a la Medida</h1>
        <p class="lead mb-4">Innovamos con tecnología para tu crecimiento</p>
        <a asp-controller="Home" asp-action="contacto" class="btn btn-custom btn-lg text-white">Contáctanos</a>
        <h3>En teknobits somos una empresa dedicada al desarrollo de software a la medida </h3>
        <span id="typing" class="typing-container"></span>
    </div>
</div>